extends layout

block neck	
	link(rel='stylesheet', href=static_url('css/gutenberg.css'))

block foot
	script(type='text/javascript').
		function decodeHTML(encoded){
			var elem = document.createElement('textarea');
			elem.innerHTML = encoded;
			var decoded = elem.value;
			return decoded
		}
	script(type='text/javascript', src=static_url('js/gutenberg.js'))

block content
	main.col-md-10.ml-sm-auto.pt-3(role='main')
		.row
			#parent
			//- if message == False
			//- 	img.mx-auto.d-block.img-fluid.my-4(src='/static/img/library_1024x414.jpg')
