extends layout

block content
	.container-fluid
		.row
			include sidebar
			
			script.
				console.log("!{colnames}");
				console.log("!{data}");
			
			main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-2(role='main')
				.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
					h1.h2
					.btn-toolbar.mb-2.mb-md-0
						.btn-group.mr-2
							button.btn.btn-sm.btn-outline-secondary Share
							button.btn.btn-sm.btn-outline-secondary Export
						button.btn.btn-sm.btn-outline-secondary.dropdown-toggle
							span(data-feather='calendar')
							|  This week
						

				.card-columns
					.card
						img.card-img-top(src='http://via.placeholder.com/1600x900/483D8B/ffffff?text=Card+1', alt='Card image cap')
						.card-body
							h5.card-title Card title that wraps to a new line
							p.card-text
								| This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
					.card.p-3
						blockquote.blockquote.mb-0.card-body
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
							footer.blockquote-footer
								small.text-muted
									| Someone famous in 
									cite(title='Source Title') Source Title
					.card
						img.card-img-top(src='http://via.placeholder.com/1600x450/9400D3/ffffff?text=Card+2', alt='Card image cap')
						.card-body
							h5.card-title Card title
							p.card-text This card has supporting text below as a natural lead-in to additional content.
							p.card-text
								small.text-muted Last updated 3 mins ago
					.card.bg-primary.text-white.text-center.p-3
						blockquote.blockquote.mb-0
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
							footer.blockquote-footer
								small
									| Someone famous in 
									cite(title='Source Title') Source Title
					.card.text-center
						.card-body
							h5.card-title Card title
							p.card-text This card has supporting text below as a natural lead-in to additional content.
							p.card-text
								small.text-muted Last updated 3 mins ago
					.card
						img.card-img(src='http://via.placeholder.com/1600x1600/FF1493/ffffff?text=Card+3', alt='Card image')
					.card.p-3.text-right
						blockquote.blockquote.mb-0
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
							footer.blockquote-footer
								small.text-muted
									| Someone famous in 
									cite(title='Source Title') Source Title
					.card
						.card-body
							h5.card-title Card title
							p.card-text
								| This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
							p.card-text
								small.text-muted Last updated 3 mins ago
