nav.col-md-2.d-none.d-md-block.sidebar
	ul.nav.flex-column
		li.nav-item
			a.nav-link.active(href='/')
				span(data-feather='search')
				|  Search 
				span.sr-only (current)
		li.nav-item
			a.nav-link(href='/twitter')
				span(data-feather='twitter')
				|  Twitter
		li.nav-item
			a.nav-link(href='#')
				span(data-feather='radio')
				|  Newspapers
		li.nav-item
			a.nav-link(href='#')
				span(data-feather='bar-chart-2')
				|  Reports

	h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.py-2.text-muted.border-bottom
		span Sectors

	ul.nav.flex-column.mb-2
		li.nav-item
			a.nav-link(href='#')
				span(data-feather='file-text')
				|  Macro
		li.nav-item
			a.nav-link(href='#')
				span(data-feather='file-text')
				|  Equity
		li.nav-item
			a.nav-link(href='#')
				span(data-feather='file-text')
				|  Fixed Income
		li.nav-item
			a.nav-link(href='#')
				span(data-feather='file-text')
				|  Commidities
	h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.py-2.text-muted.border-bottom
		span Account

	ul.nav.flex-column.mb-2
		li.nav-item
			a.nav-link(href='/profile')
				span(data-feather='meh')
				|  Profile
		li.nav-item
			a.nav-link(href='/logout')
				span(data-feather='log-out')
				|  Logout