block sidemenu
	nav#sidebar
		//-.sidebar-header
		//-	h3 Menu
		//-	strong BS
		
		ul.list-unstyled.components
			if selected == "home"
				li.current
					a(href='/')
						i.fa.fa-home.fa-1x.fa-fw
						| Home
			else
				li
					a(href='/')
						i.fa.fa-home.fa-1x.fa-fw
						| Home
		ul.list-unstyled.components
		
			if selected == "tweets"
				li.current
					a(href='/tweets')
						i.fa.fa-wifi
						| Tweets
			else
				li
					a(href='/tweets')
						i.fa.fa-wifi
						| Tweets
						
											
			if selected == "Search"
				li.current
					a(href='/search')
						i.fa.fa-search
						| Search
			else
				li
					a(href='/search')
						i.fa.fa-search
						| Search
						
			if selected == "charts"
				li.current
					a(href='/charts')
						i.fa.fa-area-chart
						| Charts
			else
				li
					a(href='/charts')
						i.fa.fa-area-chart
						| Charts
						
	
	script(type='text/javascript').
		$(document).ready(function () {
			$('#sidebarCollapse').on('click', function () {
				$('#sidebar').toggleClass('active');
			});
		});
		$(document).on('click', '.caret-icon', function() {
			$(this).toggleClass('fa-caret-up fa-caret-down');
		})