nav.col-md-2.d-none.d-md-block.sidebar
	ul.nav.flex-column
		li.nav-item
			a.nav-link.active(href='/')
				span(data-feather='search')
				|  Search 
				span.sr-only (current)
		li.nav-item
			a.nav-link(href='/twitter')
				span(data-feather='twitter')
				|  Twitter
		li.nav-item
			a.nav-link(href='#')
				span(data-feather='radio')
				|  Newspapers
		li.nav-item
			a.nav-link(href='#')
				span(data-feather='bar-chart-2')
				|  Reports

	h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.py-2.text-muted.border-bottom
		span Sectors

	ul.nav.flex-column.mb-2
		li.nav-item
			a.nav-link(href='/sectors/commodities')
				span(data-feather='file-text')
				|  Commodities
		li.nav-item
			a.nav-link(href='/sectors/credit')
				span(data-feather='file-text')
				|  Credit
		li.nav-item
			a.nav-link(href='/sectors/cross_assets')
				span(data-feather='file-text')
				|  Cross Assets
		li.nav-item
			a.nav-link(href='/sectors/economics')
				span(data-feather='file-text')
				|  Economics
		li.nav-item
			a.nav-link(href='/sectors/emerging_markets')
				span(data-feather='file-text')
				|  Emerging Markets
		li.nav-item
			a.nav-link(href='/sectors/equity')
				span(data-feather='file-text')
				|  Equity
		li.nav-item
			a.nav-link(href='/sectors/fx_strategy')
				span(data-feather='file-text')
				|  FX Strategy
		li.nav-item
			a.nav-link(href='/sectors/interest_rate_strategy')
				span(data-feather='file-text')
				|  Interest Rate Strategy
		li.nav-item
			a.nav-link(href='/sectors/others')
				span(data-feather='file-text')
				|  Others
	h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.py-2.text-muted.border-bottom
		span Account

	ul.nav.flex-column.mb-2
		li.nav-item
			a.nav-link(href='/profile')
				span(data-feather='meh')
				|  Profile
		li.nav-item
			a.nav-link(href='/logout')
				span(data-feather='log-out')
				|  Logout