doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='')
		meta(name='author', content='')
		title !{title}
		// Bootstrap core CSS
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css', integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS', crossorigin='anonymous')
		// Custom styles for this template
		style(type='text/css').
			:root {
				--input-padding-x: 1.5rem;
				--input-padding-y: .75rem;
			}
			body {
				background: rgba(244,248,251,1);
				background: -moz-linear-gradient(-45deg, rgba(244,248,251,1) 0%, rgba(158,190,214,1) 100%);
				background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(244,248,251,1)), color-stop(100%, rgba(158,190,214,1)));
				background: -webkit-linear-gradient(-45deg, rgba(244,248,251,1) 0%, rgba(158,190,214,1) 100%);
				background: -o-linear-gradient(-45deg, rgba(244,248,251,1) 0%, rgba(158,190,214,1) 100%);
				background: -ms-linear-gradient(-45deg, rgba(244,248,251,1) 0%, rgba(158,190,214,1) 100%);
				background: linear-gradient(135deg, rgba(244,248,251,1) 0%, rgba(158,190,214,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f8fb', endColorstr='#9ebed6', GradientType=1 );
				background-attachment: fixed
			}
			.card-signin {
				border: 0;
				border-radius: 1rem;
				box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
			}
			.card-signin .card-title {
				margin-bottom: 2rem;
				font-weight: 300;
				font-size: 1.5rem;
			}
				.card-signin .card-body {
				padding: 2rem;
			}
				.form-signin {
				width: 100%;
			}
			.form-signin .btn {
				font-size: 80%;
				border-radius: 5rem;
				letter-spacing: .1rem;
				font-weight: bold;
				padding: 1rem;
				transition: all 0.2s;
			}
			.form-label-group {
				position: relative;
				margin-bottom: 1rem;
			}
			.form-label-group input {
				height: auto;
				border-radius: 2rem;
			}
			.form-label-group>input,
			.form-label-group>label {
				padding: var(--input-padding-y) var(--input-padding-x);
			}
			.form-label-group>label {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				margin-bottom: 0;
				/* Override default `<label>` margin */
				line-height: 1.5;
				color: #495057;
				border: 1px solid transparent;
				border-radius: .25rem;
				transition: all .1s ease-in-out;
			}
			.form-label-group input::-webkit-input-placeholder {
				color: transparent;
			}
			.form-label-group input:-ms-input-placeholder {
				color: transparent;
			}
			.form-label-group input::-ms-input-placeholder {
				color: transparent;
			}
			.form-label-group input::-moz-placeholder {
				color: transparent;
			}
			.form-label-group input::placeholder {
				color: transparent;
			}
			.form-label-group input:not(:placeholder-shown) {
				padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
				padding-bottom: calc(var(--input-padding-y) / 3);
			}
			.form-label-group input:not(:placeholder-shown)~label {
				padding-top: calc(var(--input-padding-y) / 3);
				padding-bottom: calc(var(--input-padding-y) / 3);
				font-size: 12px;
				color: #777;
			}
			.btn-google {
				color: white;
				background-color: #ea4335;
			}
			.btn-facebook {
				color: white;
				background-color: #3b5998;
			}
		
	body.text-center
		.container
			.col-md-8.offset-md-2.my-5
				svg(enable-background='new 0 0 301 26.3', viewBox='0 0 301 26.3', xmlns='http://www.w3.org/2000/svg')
					g(fill='#0b3f6d')
						path(d='m73.2 22.7v-.4l2.2-1.1v-14.6l-2.2-1.1v-.4h7.5c2.1 0 3.8.4 5.1 1.1 1.3.8 1.9 2 1.9 3.6 0 1-.3 1.8-1 2.6s-1.6 1.4-2.7 1.8-2.4.7-3.9.7h-1.9v6.3l2.5 1.1v.4zm5-16.1v6.9h2c1.4 0 2.5-.3 3.3-1 .8-.6 1.2-1.5 1.2-2.5 0-1.2-.4-2.1-1.2-2.7s-2-.8-3.5-.8h-1.8z')
						path(d='m87.2 22.7v-.4l1.4-.7 5.9-13.9h1.4l5.9 13.9 1.6.8v.4h-6.2v-.4l1.9-.8-1.7-3.9h-5.5l-1.6 4 1.9.7v.4h-5zm5.2-6.5h4.4l-2.2-5.3z')
						path(d='m104.7 22.7v-.4l1.9-.9v-12.3l-1.9-.9v-.4h6.5c1.6 0 2.9.3 3.9 1s1.4 1.6 1.4 2.8c0 .9-.3 1.6-.8 2.2s-1.3 1.1-2.3 1.5l4.1 6.3 1.8.8v.4h-4.2l-4.2-6.8h-1.6v5.5l1.8.9v.4h-6.4zm5.8-13.6h-1.3v5.5h1.4c1 0 1.7-.2 2.3-.7s.8-1.2.8-2c0-.9-.3-1.6-.8-2.1-.6-.5-1.4-.7-2.4-.7z')
						path(d='m122.3 22.7v-.4l2.4-.9v-12.3h-3.9l-1.4 3.3h-.4v-4.6h14.2v4.6h-.4l-1.4-3.3h-3.9v12.3l2.4.9v.4z')
						path(d='m134.7 22.7v-.4l1.9-.9v-12.3l-1.9-.9v-.4h4l9 10.7v-9.4l-2.3-.9v-.4h5.7v.4l-1.9.9v13.8h-1.2l-9.8-11.6v10.1l2.4 1v.4h-5.9z')
						path(d='m152.8 22.7v-.4l1.9-.9v-12.3l-1.9-.9v-.4h11.7v3.8h-.4l-1.4-2.5h-5.4v5.2h3.9l.9-1.8h.4v5h-.4l-.9-1.8h-3.9v5.7h5.9l1.5-3h.4v4.3z')
						path(d='m167.5 22.7v-.4l1.9-.9v-12.3l-1.9-.9v-.4h6.5c1.6 0 2.9.3 3.9 1s1.4 1.6 1.4 2.8c0 .9-.3 1.6-.8 2.2s-1.3 1.1-2.3 1.5l4.1 6.3 1.8.8v.4h-4.2l-4.2-6.8h-1.6v5.5l1.8.9v.4h-6.4zm5.8-13.6h-1.3v5.5h1.4c1 0 1.7-.2 2.3-.7.5-.5.8-1.2.8-2 0-.9-.3-1.6-.8-2.1-.6-.5-1.4-.7-2.4-.7z')
						path(d='m187.2 23c-1 0-1.8-.1-2.5-.3s-1.4-.5-2.1-.8l-.2-3.6h.4l1.4 2.5c.5.4 1 .6 1.5.8.5.1 1.1.2 1.6.2 1 0 1.7-.2 2.3-.6s.8-1 .8-1.8c0-.6-.2-1.1-.5-1.4s-.8-.7-1.4-.9c-.6-.3-1.4-.7-2.4-1.1-1.1-.5-1.9-1.1-2.4-1.7s-.7-1.4-.7-2.3c0-.8.2-1.5.7-2.2s1.1-1.2 1.8-1.6 1.6-.6 2.5-.6c.8 0 1.5.1 2.1.3s1.3.4 1.8.7l.2 3.5h-.4l-1.2-2.3c-.7-.6-1.5-.9-2.5-.9-.9 0-1.5.2-2 .6s-.7 1-.7 1.7c0 .5.1.8.3 1.2.2.3.6.6 1.1.9s1.1.6 1.9 1c1 .5 1.8.9 2.4 1.3s1 .9 1.3 1.4.4 1.1.4 1.9-.2 1.6-.7 2.2-1.1 1.1-1.9 1.5c-.9.2-1.8.4-2.9.4z')
						path(d='m209.3 23c-1.8 0-3.4-.4-4.7-1.1s-2.4-1.8-3.1-3.1-1.1-2.8-1.1-4.4c0-1.3.2-2.5.7-3.6s1.2-2.2 2-3c.9-.9 1.9-1.6 3-2.1s2.3-.8 3.6-.8c.9 0 1.7.1 2.3.2s1.2.3 1.7.5 1 .4 1.5.7l.2 4.7h-.5l-1.8-3.5c-.6-.4-1.2-.7-1.6-.9-.5-.2-1-.3-1.6-.3-1.2 0-2.3.3-3.3 1-1 .6-1.7 1.5-2.3 2.7-.6 1.1-.8 2.4-.8 3.9 0 1.7.3 3.1.8 4.3s1.3 2.1 2.2 2.7 1.9.9 3.1.9c.9 0 1.7-.1 2.3-.4.6-.2 1.2-.5 1.7-.9l1.8-3h.5l-.3 4.3c-.8.4-1.6.7-2.5 1-1.3 0-2.4.2-3.8.2z')
						path(d='m217.1 22.7v-.4l1.4-.7 5.9-13.9h1.4l5.9 13.9 1.6.8v.4h-6.3v-.4l1.9-.8-1.7-3.9h-5.5l-1.6 4 1.9.7v.4h-4.9zm5.2-6.5h4.4l-2.2-5.3z')
						path(d='m234.6 22.7v-.4l1.9-.9v-12.3l-1.9-.9v-.4h6.4c2 0 3.5.3 4.5 1s1.5 1.7 1.5 3.2c0 .9-.3 1.7-.8 2.3-.6.7-1.3 1.2-2.3 1.5s-2.1.5-3.3.5h-1.5v5.1l2.2.9v.4zm4.6-13.6v5.9h1.3c1.2 0 2.1-.3 2.8-.8s1-1.3 1-2.2c0-1-.4-1.8-1.1-2.3s-1.7-.7-3-.7h-1z')
						path(d='m249 22.7v-.4l1.8-.9v-12.3l-1.8-.9v-.4h6.3v.4l-1.8.9v12.3l1.8.9v.4z')
						path(d='m260.4 22.7v-.4l2.4-.9v-12.3h-3.9l-1.4 3.3h-.5v-4.6h14.2v4.6h-.4l-1.4-3.3h-3.9v12.3l2.4.9v.4z')
						path(d='m271.3 22.7v-.4l1.4-.7 5.9-13.9h1.4l5.9 13.9 1.6.8v.4h-6.2v-.4l1.9-.8-1.7-3.9h-5.5l-1.6 4 1.9.7v.4h-5zm5.2-6.5h4.4l-2.2-5.3z')
						path(d='m288.7 22.7v-.4l1.9-.9v-12.3l-1.9-.9v-.4h6.7v.4l-2.2.9v12.3h5.6l1.7-3.9h.4v5.3h-12.2z')
					path(d='m25.7 5c-1.5.6-2.2 1.7-2.3 3.2 0 .3-.3.6-.5.8-.8.8-1.5 1.6-2.3 2.3 0 .1.1.1.1.2h1.5c-.2.4-.2.7-.4 1-.7 1.2-1.6 2.4-2.3 3.6-1.2 2.1-1.3 3.2-1.1 5.5-1.4 0-1.9-.6-2-2.4-.8.1-1 .3-1.8 1.7-.8-.3-1.1-1-1.1-1.7 0-1.1.1-2.2.2-3.4-.8 0-1.4.6-2.1 1.1-.7-1.6-.9-3.3-1-5.1-1.1 1-1.8 2.1-1.9 3.6-.1 2.9 1.1 5.3 3.5 7 .1 0 .1.1.2.2 0 0 0 0 .1.1-1.3 1.1-2.8 1.4-4.4 1.3-3.9-.3-7.1-3.1-7.8-7-.1-.5-.1-1.1.1-1.6 1.8-5.1 4.4-9.6 8.7-13 2.5-2 5.3-2.5 8.3-2.1 3.3.4 6 1.8 8 4.5.2-.1.2 0 .3.2zm-4.3 2c-.5 1.4-1.2 2-2.3 1.9-.9 0-1.8-.7-1.9-1.6-.1-.5 0-1.2.3-1.6s.8-.7 1.2-1c-1.2-.4-2.8 0-3.8 1-.8.7-1.5 2.4-1.1 3.5.5-1 1.2-1.3 2.3-.9.4.1.8.3 1.2.5 1.6.9 3.1.5 4.7-.2-.2-.6-.4-1-.6-1.6zm-1.5.9c.7-.3.8-.6.5-1.2-.2.4-.4.8-.5 1.2z', fill='#113f6c')
					path(d='m50.3 19.4c1.9-.2 4.7-1.4 7.6-3.1-.4.5-.8 1.1-1.2 1.7 2.3-.9 4.3-2.1 6.1-3.7-.2 1.1-2.9 3.6-5.2 5-2.1 1.3-4.4 2.1-6.8 2.6v.2c2.2-.4 4.3-.8 6.6-1.1-2.2 2.5-5.3 2.7-8.2 3.2h3.7c0 .1.1.1.1.2-.4.3-.7.6-1.1.9-1 .6-2.1.9-3.2.9-8.2 0-16.3 0-24.5 0-.1 0-.2 0-.4 0 .6-2.2.2-4.4-.2-6.5 0 0 0 0 0-.1-.2-1.7-.2-1.9 1.4-2.6 1.1-.5 2.4-.8 3.6-1.1 1.8-.5 3.5-.9 5.3-1.4-.2.3-.5.6-.8.9.9.2 2.7-.4 5-1.8-.3 1.1-1.7 1.8-5.2 2.7 1.2.2 2.3.3 3.4.5 2.2.4 4.4.8 6.6 1.2 2.5.5 4.7-.1 6.8-1.3.2-.1.4-.2.5-.3h.2c-.2.5-.4.9-.6 1.3 2.1-.7 3.9-1.9 5.7-3.2-1.1 2.1-2.8 3.8-5.2 4.9z', fill='#113f6c')
					path(d='m27.5 12.1c-.4.1-.9.2-1.3.2-.7.1-1.3.3-1.8 1-1.5 2.4-1.8 4.9-1.2 7.6.3 1.4.4 2.8.2 4.2 0 .3-.1.5-.2.8-2.8-1.8-3.8-5.2-2.6-8.5.9-2.4 2.5-4.3 4.4-6 .6-.6 2.3-.1 2.5.7z', fill='#113f6c')
					path(d='m0 18.2c.5 1 1 2.1 1.6 3 1.7 2.5 4.1 3.9 7.3 3.9 1.2 0 2.3-.4 3.5-.5 3.1-.4 6.1-.2 9 .7.4.1.7.3 1.1.4.1 0 .2.1.4.2-1.5-.2-2.9-.3-4.3-.4-2.9-.3-5.8 0-8.7.6-2.2.4-4.3.4-6.3-1-2.1-1.5-3.4-3.5-3.6-6.1 0-.3 0-.5 0-.8z', fill='#113f6c')
					path(d='m23.9 10.7c0-.9 0-.9 1.4-2.1-.6-.2-1-.6-.8-1.2.1-.3.5-.5.8-.6.6-.1.8.3 1 .9.2-.5.4-.9.7-1.5 1.3.8 2.7 1.6 3.1 3.3.4 1.5.4 3.1-.8 4.4-.1-.2-.1-.4-.2-.5-.3-.6-.5-1.3-.8-1.8-.4-.7-1.1-1-1.9-1-.8.1-1.7.1-2.5.1zm5.6 2.3c.9-1.6.5-4.3-1.8-5.6 1.8 1.4 2.2 3.3 1.8 5.6z', fill='#113f6c')
			
			
			.row
				.col-sm-9.col-md-7.col-lg-5.mx-auto
					.card.card-signin.my-5
						.card-body
							h5.card-title.text-center Sign In
							form.form-signin(action='login', method='post')
								.form-label-group
									input#email.form-control(type='email', name='email', placeholder='email', required='', autofocus='')
									label(for='email') Email
								.form-label-group
									input#inputPassword.form-control(type='password', name='password', placeholder='password', required='')
									label(for='inputPassword') Password
								.custom-control.custom-checkbox.mb-3
									input#customCheck1.custom-control-input(type='checkbox')
									label.custom-control-label(for='customCheck1') Remember password
								- module xsrf_form_html()
								button.btn.btn-lg.btn-primary.btn-block.text-uppercase(type='submit') Sign in
